replicas: 1

imageTag: 5.4.0

kafkaHeapOptions: "-Xmx250m -Xms50m"

configurationOverrides:
  "offsets.topic.replication.factor": 1

topics:
  - name: tweets
    config: "retention.ms=1814400000" # 21 days
    partitions: 2
    replicationFactor: 1
  - name: ubdata
    config: "retention.ms=5443200000" # 63 days
    partitions: 1
    replicationFactor: 1
