tags:
  dashboard: false
  kafka: true

belly-claws:
  image:
    repository: agriuseatstweets/belly
    tag: 0.0.21
  schedule: "*/10 * * * *"
  completions: 1
  parallelism: 1
  backoffLimit: 1
  resources:
    requests:
      cpu: "750m"
      memory: "5Gi"
  keySecret: agrius-belly-keys
  queue:
    queue: "kafka"
    topic: "tweets"
    kafkaBrokers: "agrius-kafka:9092"
    kafkaPollInterval: "1920000"
  belly:
    location: "gs://spain-tweets/datalake"
    size: "90000"
  spark:
    driverMemory: "5g"
    partitionSize: "1000"

bellyback-claws:
  image:
    repository: agriuseatstweets/bellyback
    tag: 0.0.1
  schedule: "*/5 * * * *"
  completions: 2
  parallelism: 2
  resources:
    requests:
      memory: "512Mi"
  keySecret: agrius-bellyback-keys
  queue:
    queue: "kafka"
    topic: "tweets"
    kafkaBrokers: "agrius-kafka:9092"
  belly:
    location: "spain-tweets-backup"
    size: "80"

belly-jaws:
  image:
    repository: agriuseatstweets/belly
    tag: 0.0.21
  schedule: "0 0 * * *"
  completions: 1
  parallelism: 1
  backoffLimit: 1
  resources:
    requests:
      cpu: "1"
      memory: "5Gi"
  keySecret: agrius-belly-keys
  queue:
    queue: "kafka"
    topic: "livetweets"
    kafkaBrokers: "agrius-kafka:9092"
    kafkaPollInterval: "1920000"
  belly:
    location: "gs://spain-tweets/datalake"
    size: "90000"
  spark:
    driverMemory: "5g"
    partitionSize: "1000"

bellyback-jaws:
  image:
    repository: agriuseatstweets/bellyback
    tag: 0.0.1
  schedule: "0 0 * * *"
  completions: 1
  parallelism: 1
  keySecret: agrius-bellyback-keys
  queue:
    queue: "kafka"
    topic: "livetweets"
    kafkaBrokers: "agrius-kafka:9092"
  belly:
    location: "spain-tweets-backup"
    size: "80"

claws:
  image:
    repository: agriuseatstweets/claws
    tag: 0.0.6
  schedule: "0 20 * * *"
  envSecret: agrius-jaws-envs
  keySecret: agrius-jaws-keys
  queue:
    queue: "kafka"
    kafkaBrokers: "agrius-kafka:9092"
    topic: "tweets"
  sheets:
    sheetId: "1WVqs8BBFhgP-u2WsQEip0XxJkYDWcucra2iHPbs52Lc"
    users: "follows!D2:D"
    hashtags: "follows!C2:C"
    urls: "follows!B2:B"
    locations: "follows!F2:F"
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"

jaws:
  image:
    repository: agriuseatstweets/jaws
    tag: 0.0.10
  envSecret: agrius-jaws-envs
  keySecret: agrius-jaws-keys
  refreshInterval: "30"
  queue:
    queue: "kafka"
    kafkaBrokers: "agrius-kafka:9092"
    topic: "livetweets"
  sheets:
    sheetId: "1WVqs8BBFhgP-u2WsQEip0XxJkYDWcucra2iHPbs52Lc"
    users: "follows!D2:D"
    hashtags: "follows!C2:C"
    urls: "follows!B2:B"
    locations: "follows!E2:E"
  java:
    toolOptions: "-Xms256m -Xmx1024m -XX:MaxGCPauseMillis=1000"
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"

kafka:
  replicas: 3
  imageTag: 5.4.0
  resources:
    requests:
      cpu: 100m
      memory: 4096Mi
  kafkaHeapOptions: "-Xmx4G -Xms1G"
  configurationOverrides:
    "offsets.topic.replication.factor": 3
  topics:
    - name: tweets
      config: "retention.ms=2678400000,compression.type=snappy" # 31 days
      partitions: 8
      replicationFactor: 3
    - name: livetweets
      config: "retention.ms=2678400000,compression.type=snappy" # 31 days
      partitions: 1
      replicationFactor: 3
  persistence:
    size: "500Gi"
    storageClass: "pd-ssd"
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - kafka
        topologyKey: "kubernetes.io/hostname"
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
       - weight: 50
         podAffinityTerm:
           labelSelector:
             matchExpressions:
             - key: app
               operator: In
               values:
                 - zookeeper
           topologyKey: "kubernetes.io/hostname"


logstash:
  keySecret: agrius-logstash-keys
  persistence: {}
  # storageClass: europe-ssd-bcd
  pubsub:
    projectid: "trollhunters"
    topic: "agrius-spain"
    subscription: "agrius-spain-logstash"

elasticsearch:
  cluster:
    name: "elasticsearch"
    xpackEnable: false
    config: {}
    additionalJavaOpts: ""
    bootstrapShellCommand: ""
    env:
      MINIMUM_MASTER_NODES: "1"

  client:
    # replicas: 2
    # heapSize: "256m"

  master:
    name: master
    exposeHttp: false
    replicas: 2
    # heapSize: "256m"
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      name: data
      # size: "4Gi"
      # storageClass: europe-ssd-bcd


  data:
    name: data
    exposeHttp: false
    replicas: 1
    # heapSize: "512m"
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      name: data
      # size: "100Gi"
      # storageClass: europe-ssd-bcd
    # resources:
    #   limits:
    #     cpu: "1"
    #   requests:
    #     cpu: "25m"
    #     memory: "512Mi"

kibana:
  env:
    ELASTICSEARCH_URL: "http://ag-elasticsearch-client.default.svc.cluster.local:9200"

  # ingress:
    # enabled: true
    # hosts:
    #   - agrius.nandan.cloud
    # annotations:
    #   certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    # tls:
    #   - secretName: agrius-kibana-cert
    #     hosts:
    #       - agrius.nandan.cloud

  files:
    kibana.yml:
      elasticsearch.url: "http://ag-elasticsearch-client.default.svc.cluster.local:9200"
      elasticsearch:
        requestTimeout: 60000
