tags:
  dashboard: false

belly:
  schedule: "*/20 * * * *"
  completions: 1
  parallelism: 1
  keySecret: agrius-belly-keys
  google:
    projectId: "trollhunters"
    subscription: "agrius-spain-trolls"
    bucket: "agrius-spain-trolls"

claws:
  image:
    tag: 0.0.3
  schedule: "20 11 * * *"
  envSecret: agrius-jaws-envs
  keySecret: agrius-jaws-keys
  queue:
    queue: "pubsub"
    topic: "agrius-spain-trolls"
  google:
    projectId: "trollhunters"
  sheets:
    sheetId: "1WVqs8BBFhgP-u2WsQEip0XxJkYDWcucra2iHPbs52Lc"
    users: "follows!D2:D"
    hashtags: "follows!C2:C"
    urls: "follows!B2:B"
    locations: "follows!F2:F"
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"

jaws:
  image:
    tag: 0.0.10
  envSecret: agrius-jaws-envs
  keySecret: agrius-jaws-keys
  refreshInterval: "30"
  google:
    projectId: "trollhunters"
    topic: "agrius-spain-trolls"
  sheets:
    sheetId: "1WVqs8BBFhgP-u2WsQEip0XxJkYDWcucra2iHPbs52Lc"
    users: "follows!D2:D"
    hashtags: "follows!C2:C"
    urls: "follows!B2:B"
    locations: "follows!E2:E"
  java:
    toolOptions: "-Xms256m -Xmx1024m -XX:MaxGCPauseMillis=1000"
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"

logstash:
  keySecret: agrius-logstash-keys
  persistence: {}
  # storageClass: europe-ssd-bcd
  pubsub:
    projectid: "trollhunters"
    topic: "agrius-spain"
    subscription: "agrius-spain-logstash"

elasticsearch:
  cluster:
    name: "elasticsearch"
    xpackEnable: false
    config: {}
    additionalJavaOpts: ""
    bootstrapShellCommand: ""
    env:
      MINIMUM_MASTER_NODES: "1"

  client:
    # replicas: 2
    # heapSize: "256m"

  master:
    name: master
    exposeHttp: false
    replicas: 2
    # heapSize: "256m"
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      name: data
      # size: "4Gi"
      # storageClass: europe-ssd-bcd


  data:
    name: data
    exposeHttp: false
    replicas: 1
    # heapSize: "512m"
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      name: data
      # size: "100Gi"
      # storageClass: europe-ssd-bcd
    # resources:
    #   limits:
    #     cpu: "1"
    #   requests:
    #     cpu: "25m"
    #     memory: "512Mi"

kibana:
  env:
    ELASTICSEARCH_URL: "http://ag-elasticsearch-client.default.svc.cluster.local:9200"

  # ingress:
    # enabled: true
    # hosts:
    #   - agrius.nandan.cloud
    # annotations:
    #   certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    # tls:
    #   - secretName: agrius-kibana-cert
    #     hosts:
    #       - agrius.nandan.cloud

  files:
    kibana.yml:
      elasticsearch.url: "http://ag-elasticsearch-client.default.svc.cluster.local:9200"
      elasticsearch:
        requestTimeout: 60000
